<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add performer - Festival Events Manager</title>
</head>
    <body>
        <h1>Add new performer</h1>
        <p><a href="/dashboard">Back to dashboard</a></p>
        <p><a href="/all-performers">Back to performers list</a></p>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Add performer</button>
        </form>
    </body>
</html>