{% extends 'base_staff.html' %}

{% load django_bootstrap5 %}

{% block two %}

        <h1>Add new performer</h1>
        <p><a href="{% url 'dashboard' %}">Back to dashboard</a></p>
        <p><a href="{% url 'all-performers' %}">Back to performers list</a></p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Add performer" %}
        </form>

{% endblock %}