<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venues</title>
</head>
<body>
    <h1>Venues</h1>
    <p><a href="/dashboard">Back to dashboard</a></p>
    <a href="/add-venue/">Add venue</a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <table>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Step-free?</th>
                <th>Accessible toilets?</th>
            </tr>
            {% for venue in venues %}
            <tr>
                <td>{{ venue.name }}</td>
                <td>{{ venue.location }}</td>
                {% if venue.stepfree %}
                    <td>yes</td>
                {% else %}
                    <td>no</td>
                {% endif %}
                {% if venue.accessible_toilets %}
                    <td>yes</td>
                {% else %}
                    <td>no</td>
                {% endif %}
                <td>
                    <a href="/edit-venue/{{ venue.id }}">Edit
                    </a>
                </td>
                  <td>
                    <a href="/delete-venue/{{ venue.id }}" onclick="return confirm('Are you sure you want to delete this venue?');">Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>

</body>
</html>