{% extends 'base_staff.html' %}

{% block title %}All events - organiser view{% endblock %}

{% block two %}

<div class="row text-center py-2 justify-content-center">
    <h1>All Events - organiser view</h1>
    <p>Note: Events marked 'draft' are <strong>not</strong> visible on the public events programme.</p>
    <a href="{% url 'add-event' %}" class="btn btn-primary col-5 col-sm-3 col-lg-2 mb-2">Add new event</a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div>
    {% include 'events/staff/display-all-events.html' %}
</div>
{% endblock %}