{% extends 'base_staff.html' %}

{% block two %}
    <h1>Performers</h1>
    <p><a href="/dashboard">Back to dashboard</a></p>
    <a href="/add-performer">Add new performer</a>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table>
        <tr>
            <th>Name</th>
            <th>Biog</th>
            <th>Photo</th>
            <th>Link</th>
        </tr>
        {% for performer in performers %}
        <tr>
                <td>{{ performer.name }}</td>
                    {% if performer.biog %}
                        <td>yes</td>
                    {% else %}
                        <td>no</td>
                    {% endif %}
                    {% if performer.photo %}
                        <td>yes</td>
                    {% else %}
                        <td>no</td>
                    {% endif %}
                    {% if performer.weblink %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                <td>
                    <a href="/edit-performer/{{ performer.id }}">
                        Edit
                    </a>
                </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}