<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Events - Festival Events Manager</title>
</head>
<body>
    <h1>All Events</h1>
    <p>This is where the list of all the events added - in draft and public mode - goes.</p>
    <table>
        {% for event in events %}
            <tr>
            </tr>
            <tr>
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
                <td>{{ event.name }}</td>
                <td>
                    <a href="/edit/{{ item.id }}">
                        <button>Edit</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>