<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - Festival Events Manager</title>
</head>
<body>
    <h1>Dashboard - Welcome</h1>
    <p>This is where the stuff goes for the staff users to do their Things.</p>
    <p>Add new event</p>
    <p>Edit event</p>
    <p>View all events</p>
</body>
</html>