<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - Festival Events Manager</title>
</head>
<body>
    <h1>Dashboard - Welcome</h1>
    <h2>Control panel</h2>
    <p><a href="/all-events">Events</a></p>
    <p><a href="/all-performers">Performers</a></p>
    <p><a href="/all-venues">Venues</a></p>
</body>
</html>