<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit event - Festival Events Manager</title>
</head>
<body>
    <h1>Edit event</h1>
    <p><a href="/dashboard">Back to dashboard</a></p>
    <form method="POST"> <!--does this need an action here?-->
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Edit event</button>
    </form>
</body>
</html>