@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'NeoRetroFill';
    src: url('fonts/NEORF___-webfont.eot');
    src: url('fonts/NEORF___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NEORF___-webfont.woff2') format('woff2'),
         url('fonts/NEORF___-webfont.woff') format('woff'),
         url('fonts/NEORF___-webfont.ttf') format('truetype'),
         url('fonts/NEORF___-webfont.svg#neoretrofillregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #edf4fa;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #363837;
}

.header {
    background-color: #20b2aa;
}

nav {
    background-color: #94e3dc;
    color: #ebf5f0;
}

.navbar-staff {
    background-color: #f5d740;
}

li {
    font-family: NeoRetroFill, Arial, sans-serif;
    font-size: 1.5rem;
}

li a {
    text-decoration: none;
    color: #363b37;
}

a {
    color: #082c99;
}

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
}

.jumbotron-background {
    background-color: #f5f7f780;
    margin: 1em;
    border-radius: 10px;
}

.th {
    font-weight: bold;
}

#homepage-button {
    background-color: #f2d80f;
    color: #363837;
}

.draft {
    color: red;
    font-weight: bold;
}

.published {
    color: green;
    font-weight: bold;
}

.welcome-text {
    color: #000;
    vertical-align: center;
}

.by-value-button {
    text-decoration: none;
    color: #363837;
}

