{% extends 'base_public.html' %}

{% block title%}Performer info - The Summer Folk Festival{% endblock %}

{% block two %}

<div class="row text-center">
    <h2 class="display-6">Performers</h2>
        <p>We are very excited to have all these great performers appearing at the festival!
            Click on a performer name to see more about them.</p>

        {% for performer in performers %}
            <p><a href="{% url 'performer' performer.id %}">{{ performer.name }}</a></p>
        {% endfor %}
</div>

{% endblock %}






