{% extends 'base_public.html' %}

{% block title%}Performers - The Summer Folk Festival{% endblock %}

{% block two %}

<!--The if statement in the code below is intended so that the performer only appears on the list of all performers
if some additional information has been added to their page (any one or more of biog, photo or web link). i.e.
performers who haven't sent in their biog, photo or weblink yet don't get to be listed on this section of the app
until they have!-->

<div class="container-md">
    <div class="row text-center justify-content-center">
        <h2 class="display-6">Performers</h2>
        <p>We are very excited to have all these great performers appearing at the festival!
            Click on a performer name to see more about them.</p>

        {% for performer in performers %}

        {% if performer.biog or performer.photo or performer.weblink %}
        <a class="by-value-button btn btn-warning btn-lg col-9 col-sm-6 col-md-4 col-lg-3 rounded-pill m-2"
           href="{% url 'performer' performer.id %}">
            {{ performer.name }}
        </a>
        {% endif %}

        {% endfor %}
    </div>
</div>

{% endblock %}






