{% extends 'base_public.html' %}

{% block two %}
        {% for event in events %}
            <h1>Events on {{ event.date }}</h1>
        {% endfor %}
        <table>
            <tr>
                <th>Date</th>
                <th>Start time</th>
                <th>Finish time</th>
                <th>Venue</th>
                <th>Type of event</th>
                <th>Event name</th>
                <th>Performers</th>
            </tr>
            {% for event in events %}
                {% if event.published %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td>{{ event.start_time }}</td>
                        <td>{{ event.end_time }}</td>
                        <td>{{ event.venue }}</td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.name }}</td>
                        <td>{% for performer in event.performers.all %}
                            {% if performer.biog %}
                                <a href="{% url 'performer' performer.id %}">{{ performer }}<br></a>
                            {% else %}
                                {{ performer }}<br>
                            {% endif %}
                        {% endfor %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

{% endblock %}