{% extends 'base_public.html' %}

{% block title %}Events programme: The Summer Folk Festival{% endblock %}

{% block two %}
    <h1>Events Programme: The Summer Folk Festival</h1>
    <p>Here are all the finalised events so far. Keep checking back for more as they're added!</p>
      <table>
          <tr>
                <th>Date</th>
                <th>Start time</th>
                <th>Finish time</th>
                <th>Venue</th>
                <th>Type of event</th>
                <th>Event name</th>
                <th>Performers</th>
            </tr>
            {% for event in events %}
                {% if event.published %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td>{{ event.start_time }}</td>
                        <td>{{ event.end_time }}</td>
                        <td>{{ event.venue }}</td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.name }}</td>
                        <td>{% for performer in event.performers.all %}
                            {% if performer.biog %}
                                <a href="{% url 'performer' performer.id %}">{{ performer }}<br></a>
                            {% else %}
                                {{ performer }}<br>
                            {% endif %}
                        {% endfor %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
{% endblock %}