{% extends 'base_public.html' %}

{% block title %}{{ venue.name }}{% endblock %}

{% block two %}

    <h1>{{ venue.name }}</h1>
    <p>Address: {{ venue.location }}</p>
    <p>Step free?</p>
    {% if venue.stepfree %}
        <p>Yes</p>
    {% else %}
        <p>No</p>
    {% endif %}
    <p>Accessible toilets?</p>
    {% if venue.accessible_toilets %}
        <p>Yes</p>
    {% else %}
        <p>No</p>
    {% endif %}

    <h2>All events in this venue</h2>
        <table>
            {% for event in events %}
                {% if event.published %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td>{{ event.start_time }}</td>
                        <td>{{ event.end_time }}</td>
                        <td>{{ event.venue }}</td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.name }}</td>
                        <td>{% for performer in event.performers.all %}
                            {% if performer.biog %}
                                <a href="{% url 'performer' performer.id %}">{{ performer }}<br></a>
                            {% else %}
                                {{ performer }}<br>
                            {% endif %}
                        {% endfor %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

{% endblock %}