{% extends 'base_public.html' %}
{% load static %}
{% block homepage %}

<!--Bootstrap code adapted from code provided by the Bootstrap Examples jumbotron page
https://getbootstrap.com/docs/5.3/examples/jumbotrons/-->
<div class="container-fluid jumbotron text-center bg-body-secondary d-flex flex-column align-items-center justify-content-center"
     style="padding-right: 0px; padding-left:0px; background-image: url({% static 'events/images/shrews-35.png' %});">
    <div class="container py-5">
        <div class="jumbotron-background col-lg-8 mx-auto p-4">
            <h1 class="welcome-text display-5">Welcome to The Summer Folk Festival!</h1>
            <p class="col-lg-8 mx-auto lead welcome-text">
                We're so excited for you to see all the events we've got in store for you this year. Have a browse of the
                programme and start making plans!
            </p>
        </div>
    </div>
    <a href="{% url 'events-programme' %}" class="btn btn-primary btn-lg px-3 mb-5 rounded-pill" type="button"
       id="homepage-button">
        View events programme
        <i class="bi bi-arrow-right mx-1"></i>
    </a>
</div>

{% endblock %}