{% extends 'base.html' %}

{% block one %}

<nav class="navbar navbar-expand-md shadow p-3 mb-3 navbar-staff">
    <div class="container-xxl">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="py-1 px-3"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="py-1 px-3"><a href="{% url 'all-events' %}">Events</a></li>
                <li class="py-1 px-3"><a href="{% url 'all-performers' %}">Performers</a></li>
                <li class="py-1 px-3"><a href="{% url 'all-venues' %}">Venues</a></li>
            </ul>
        </div>

    </div>
</nav>

{% endblock %}

{% block two %}

{% endblock %}