<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}The Summer Folk Festival{% endblock %}</title>
</head>
<body>
<h1>The Summer Folk Festival</h1>
{% if user.is_authenticated %}
    <p>Currently logged in as {{ user.username }} <a href="/accounts/logout">Logout</a></p>
    {% if user.is_staff %}
        <p><a href="{% url 'dashboard' %}">View admin dashboard</a></p>
    {% endif %}
{% else %}
    <p><a href="/accounts/login">Login/Sign up</a></p>
{% endif %}

{% block one %}{% endblock %}
{% block two %}{% endblock %}

</body>
</html>