<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'events/style.css' %}">
    <title>{% block title %}The Summer Folk Festival{% endblock %}</title>
</head>
<body>
<div class="header">
    <h1 class="display-2 p-2 text-center" style="margin-bottom: 0px;">The Summer Folk Festival</h1>
</div>

{% block one %}{% endblock %}

<div class="row m-1 text-end">
    {% if user.is_authenticated %}
        <p style="margin-bottom: 0.25rem;">Currently logged in as {{ user.username }} <a href="/accounts/logout">Logout</a></p>
        {% if user.is_staff %}
            <p style="margin-bottom: 0.25rem;"><a href="{% url 'dashboard' %}">View admin dashboard</a></p>
        {% endif %}
    {% else %}
        <p style="margin-bottom: 0.25rem;"><a href="/accounts/login">Login</a></p>
    {% endif %}
</div>

<div class="container-lg">
{% block two %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>