{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block two %}

<div class="row col-md-9 col-lg-6">

    <h1>{% trans "Login" %}</h1>

    {% get_providers as socialaccount_providers %}


    <!--social media login not currently in use, could be added in a future iteration-->
    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}This feature is currently only available to approved staff users.<br>
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first. {% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        {% bootstrap_button button_type="submit" content="Login" %}
    </form>

</div>

{% endblock %}