{% extends "base.html" %}

{% load django_bootstrap5 %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block two %}

<h1>{% trans "Log Out" %}</h1>

<p>{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    {% bootstrap_button button_type="submit" content="Log out" %}
</form>

{% endblock %}
